* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: 0 0 auto;
  background-color: #9c9c9c;
  padding: 1rem 2rem;
}
footer {
  margin-top: auto;
}

main {
  flex: 1 0 auto;
  background-color: #e3e3e3;
  padding: 1rem 2rem;
  /* height: 4000px; */
}

main section {
  /* position: relative; */
  border: 5px dashed purple;
  /* height: 3000px; */
}

section div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid black;
  margin: 1rem 0;
}
section div p {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

#div-1 {
  /* background-color: violet; */
}
.div-1 {
  /* background-color: aquamarine; */
}
section > div {
  background-color: palegreen;
}
/* section div:last-child {
  background-color: tomato;
} */

.div-1 {
  /* position: relative;
  top: 500px;
  left: 100px;
  z-index: 10; */
}
.div-2 {
  /* position: absolute;
  z-index: 10;
  top: 0;
  left: 0; */
}
.div-3 {
  /* position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; */
}
.div-4 {
  /* position: sticky;
  top: 0;
  z-index: 10; */
}

.div-5 {
  /* height: 300px;
  width: 300px;
  border-radius: 100%;
  border-width: 10px; */
}
